.card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-300);
}

.card:hover,
.card:focus-within {
    box-shadow: var(--shadow-400);
}

.body {
    padding: 0.75em;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.link {
    text-decoration: none;
    color: var(--color-primary);
}
.link::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.title {
    color: var(--color-text);
    font-size: var(--fs-300);
    margin: 0;
}
.footer {
    padding: 0 1rem;
    margin-block-start: auto;
}

.price {
    font-size: var(--fs-400);
    font-weight: 600;
    text-align: right;
    position: relative;
    color: var(--color-accent);
    font-size: var(--fs-400);
    z-index: 11;
}

.old {
    color: var(--color-text-disabled);
    text-decoration-color: var(--color-text-disabled);
    font-size: var(--fs-300);
    text-decoration: line-through;
    margin-block-start: auto;
    margin-inline-end: 1em;
}

.description {
    position: relative;
    z-index: 11;
}

.discount {
    --size: 60px;
    display: grid;
    place-items: center;
    position: absolute;
    height: var(--size);
    width: var(--size);
    top: 0.25em;
    right: 0.25em;
    background-color: var(--color-accent);
    color: white;
    font-size: 1.15rem;
    font-weight: bold;
    border-radius: 50%;
    transform: rotate(15deg);
}

.discount > * {
    width: fit-content;
}
