.wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.wrapper svg {
    fill: var(--color-primary);
}

.badge {
    position: absolute;
    top: -0.75em;
    right: -0.75em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-accent);
    color: white;
    display: grid;
    place-items: center;
    font-size: var(--fs-200);
    font-weight: bold;
}
