:root {
    --header-width: 1400px;
    --content-width: 1200px;

    --ff-heading: 'Montserrat', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 3rem;
    --fs-800: 4rem;
    --fs-900: 6rem;

    --color-primary: hsl(291, 49%, 26%);
    --color-accent: hsl(321, 49%, 49%);
    --color-background-primary: hsl(260, 48%, 94%);
    --color-background-secondary: hwb(321 84% 5%);
    --color-background-light: hsl(0, 0%, 98%);
    --color-background-medium: hsl(260, 32%, 91%);

    --color-text: hsla(0, 0%, 0%, 0.871);
    --color-text-secondary: hsla(0, 0%, 0%, 0.6);
    --color-text-disabled: hsla(0, 0%, 0%, 0.38);
    --color-divider: rgba(0, 0, 0, 0.12);

    --color-light-text: hsl(0, 0%, 100%);
    --color-light-text-secondary: hsla(0, 0%, 100%, 0.7);
    --color-light-text-disabled: hsla(0, 0%, 100%, 0.5);
    --color-light-divider: rgba(0, 0, 0, 0.12);

    --color-success: #4caf50;
    --color-error: #d32f2f;
    --color-warning: #ff9800;
    --color-info: #0288d1;

    --color-darkmode-success: #66bb6a;
    --color-darkmode-error: #f44336;
    --color-darkmode-warning: #ffa726;
    --color-darkmode-info: #29b6f6;

    --star-color: #dddddd;
    --star-background: #fc0;

    --shadow-color: 220 3% 15%;
    --shadow-strength: 1%;
    --shadow-100: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
    --shadow-200: 0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
    --shadow-300: 0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
        0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
        0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
        0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
        0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
    --shadow-400: 0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
        0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
        0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
        0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
    --shadow-500: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
        0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
        0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
        0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
    --shadow-600: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
        0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
        0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
        0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
        0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
        0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
    --inner-shadow-100: inset 0 0 0 1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
    --inner-shadow-200: inset 0 1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
    --inner-shadow-300: inset 0 1px 4px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
    --inner-shadow-400: inset 0 2px 8px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
    --inner-shadow-500: inset 0 2px 14px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
    scrollbar-color: var(--color-accent) var(--color-background-secondary);
    scrollbar-width: thin;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-body);
    background-color: var(--color-background-primary);
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-background-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 10000px;
}

#root {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
    font-family: var(--ff-heading);
}

h1,
.h1 {
    font-size: var(--fs-800);
    color: var(--color-primary);
    margin-bottom: 1rem;
}

h2,
.h2 {
    font-size: var(--fs-700);
}

h3,
.h3 {
    font-size: var(--fs-600);
}

h4,
.h4 {
    font-size: var(--fs-500);
}

h5,
.h5 {
    font-size: var(--fs-400);
}

h6,
.h6 {
    font-size: var(--fs-300);
}

a {
    color: var(--color-primary);
}

hgroup > p {
    font-size: var(--fs-500);
    color: var(--color-text-secondary);
    max-width: 60ch;
    text-wrap: balance;
}

img {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th:first-of-type {
    text-align: left;
}

thead th {
    padding: 0.05rem 0.5rem;
    color: var(--color-light-text);
    background-color: var(--color-accent);
}

td {
    text-align: center;
}

/* td,
th {
    border: 1px solid hotpink;
} */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
