.card {
    padding: 1rem;
    box-shadow: var(--shadow-300);
    background-color: var(--color-background-medium);
    margin-bottom: 1rem;
}

.description {
    margin-top: 1rem;
    text-align: justify;
}

.username {
    font-weight: bold;
    color: var(--color-primary);
}
